@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.container{
  background-image: url('/images/background.png');
  background-repeat: no-repeat; /*El fondo NO se repite, es 1 solo*/
  background-attachment: fixed; /*El fondo NO se mueve al hacer scroll*/
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(8,minmax(1.25vw,12.5vw));
  grid-template-rows: repeat(5,minmax(20vh,20vh));
  justify-content: center;
}


.titulo{ /*Proximas Evaluaciones*/
  display: grid;
  grid-area: 1/3/2/7;
  text-align: center;
  align-self: flex-end ;
  font-size: 6.5vh; 
  width: 100%;
  overflow: hidden; /*oculta el texto si se sale*/
    /*margin-top: 0vh;*/
}

.logo{ /*Logo UACH izq arriba*/
  display: grid;
  grid-area: 1/1/2/2;
  margin-top: 10%;
  margin-left: 10%;
  height: 8vh;
  width: 13vw;
}

.tabla1{ /*tabla con bordes negros*/
  display:grid;
  grid-area: 1/1/9/11;
  border:#000000 3px solid;
  border-radius: 15px; /*redondea las esquinas*/
  width: 100%;
  height: 35vh;
  overflow-y: scroll;
  /*justify-content: end;*/
}

.tabla1 th{ /*codigo/asignatura/tipo/fecha*/
  background-color: #7397fc;
  height: 5vh; /*altura de cada rectángulo*/
  font-size: 1.6vw;
  text-align: center;
  position: sticky; /*mantiene las cajas fijas en top 0%*/
  top: 0%;
}
.tabla1 td{ /*cajas blancas*/
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  font-size: 1.6vw;
  text-align: center; /*centra el texto de las cajas blancas*/
  height: 7vh;
}
.tabla1 td:first-child{ /*rectángulos con el codigo*/
  min-width: 10vw;
}
.tabla1 td:nth-child(2){ /*rectángulos con el nombre de asignatura*/
  width: 25vw;
}
.tabla1 td:nth-child(3){ /*rectángulos con el tipo*/
  width: 20vw;
}
.tabla1 td:nth-child(4){ /*rectángulos con la fecha*/
  width: 20vw;
}

.cajaRoja{ /*tabla roja abarca todo lo de dentro*/
  display: grid;
  grid-area: 2/2/3/8;
  margin-top: 10vh; /*se separa del tope en su contenedor*/
  height: 7vh; /*altura maxima según el grid en el que está*/
  width: 100%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-image: url('/images/cajaRoja1.jpg');
  background-repeat: no-repeat; /*El fondo NO se repite, es 1 solo*/
  background-size: cover;
}
.tabla2{ /*tabla roja interior*/
  display: grid;
  grid-area: 1/1/2/2;
  font-size: 2vw;
  text-align: center;
  overflow: hidden; /*oculta el texto si se sale*/
  max-height: 100%;
}


.tabla2 td:first-child{
  max-width: 15%;
  border-right: 3px solid rgb(0, 0, 0);
}
.tabla2 td:nth-child(2){
  max-width: 10%;
  border-right: 3px solid rgb(0, 0, 0);
}
.tabla2 td:nth-child(3){
  max-width: 40%;
  border-right: 3px solid rgb(0, 0, 0);
}
.tabla2 td:nth-child(4){ 
  max-width: 35%;
}

.reloj{
  display: grid;
  grid-area: 1/8/2/9;
  height: 25%;
  max-width: 80%;
  margin-top: 15vh;
  font-size: 3vh;
  font-style: oblique;
  text-align: center;
  border-radius: 25px;
  overflow: hidden; /*oculta el texto si se sale*/
  background-image: url('/images/cajaRoja1.jpg');
  background-repeat: no-repeat; /*El fondo NO se repite, es 1 solo*/
  background-size: cover;
}

.botonFiltro{
  display: grid;
  grid-area: 9/10/10/11;
  align-self: flex-end;
}

.container2{
  display: grid;
  grid-area: 3/2/5/8;
  width: 100%;
  max-height: 40vh;
}

.linkinfoalumnos{
  display: grid;
  grid-area: 5/3/6/4;
  justify-self: center;
  text-align: center;
  width: 4vw;
  height: 4vh;
  font-size: 1vw;
}
.linksiveduc{
  display: grid;
  grid-area: 5/6/6/7;
  justify-self: center;
  text-align: center;
  width: 4vw;
  height: 4vh;
  font-size: 1vw;
}
/*
.title {
  margin: 20px 101px  ;
  line-height: 1.15;
  font-size: 2rem;
  align-items: center;
  text-align: center;
}
*/
/*
.tabla1 th{
  background-color: #00ff15;
  min-width: 220px;
}
*/
/*
.tabla1 td, .tabla1 th{
  border: 2px solid #000000;
  padding: 8px; /*altura de cada rectángulo
  font-size: 1.1rem;
  text-align: center; /*centra el texto de las cajas blancas
  width: 2000px;
}
*/
/*
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
*/
/*padding-top: 12px;
padding-bottom: 12px;*/
/*justify-self: stretch; se estira para llenar el contenedor*/